/* Colores personalizados de Pokémon */
.pokemon-header {
  --ion-background-color: #ffcc00; /* Pikachu */
}

.pokemon-content {
  --ion-background-color: #4FC1E9; /* Squirtle */
}

.pokemon-red {
  --ion-color-base: #FF5959; /* Charmander */
}

.pokemon-blue {
  --ion-color-base: #3B86FF; /* Bulbasaur */
}
