<ion-header class="pokemon-header"> <!-- Agregamos una clase personalizada para el encabezado -->
  <ion-toolbar color="pokemon-blue"> <!-- Cambiamos el color de la barra de herramientas -->
    <ion-title>
      Busca tu Pokemon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pokemon-content"> <!-- Agregamos una clase personalizada para el contenido -->
  <ion-searchbar placeholder="Search by name or ID" (ionChange)="searchPokemon($event.detail.value || '')" color="pokemon-red"></ion-searchbar> <!-- Cambiamos el color de la barra de búsqueda -->
  
  <ion-list>
    <ion-item *ngFor="let p of displayedPokemon">
      <ion-thumbnail slot="start">
        <img [src]="p.sprites.front_default" *ngIf="p.sprites.front_default" alt="Pokemon">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ p.id }}</h2>
        <h3>{{ p.name }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Samuel Sarmiento E191 -->
<ion-footer>
  Samuel Sarmiento E191
</ion-footer>